.bankform{
    width: 500px;
}
.bankform-wrap{
    /* height: 700px; */
    background: #fff;
    /* padding: 70px 100px; */
    padding: 45px;
}
.bankform-logo{
    display: flex;
    margin-bottom: 2.5rem;
    justify-content: center;
    
}
.bankform-logo img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border: 1px solid #727579; */
}
.bankform-wrap{

}
.bankform-wrap label{
    display: block;
    margin-bottom: 2rem;
}
.bankform-form span{
    margin-bottom: .5rem;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}
.bankform-form input {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.2rem;
    color: #000;
    font-family: inherit;
    background: #fff;
    border: 1px solid #727579;
    border-radius: 10px;
}
.bankform-form label:nth-child(2){
    margin-bottom: 2.5rem;
}
.bankform-form button {
    border: none;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    display: block;
    padding: 1.2rem 0;
    cursor: pointer;
    font-weight: 500;
    /* margin-top: 50px; */
    font-size: 1rem;
    font-family: inherit;
    border-radius: 10px;
    /* background-color: #0e2254; */
}

@media(max-width: 600px){
    .bankform{
        width: 90%;
    }
    .bankform-wrap{
        padding: 1.5rem;
        padding-bottom: 2rem;
    }
}