.consent{
    width: 700px;
}
.consent-logo{
    display: flex;
    justify-content: center;
}
.consent-wrap{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}
.consent h1{
    color: #205184;
    font-weight: 600;
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.75rem;
}
.consent-check{
    padding: 0 2rem;
}
.consent-check_item{
    gap: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.consent-check_item img {
    align-self: flex-start;
}
.consent-check_item-text{
    color: #303236;
}
.consent-check_item-text p:first-child{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0.6rem;
}
.consent-check_item-text p:nth-child(2){
    font-weight: 400;
    font-size: 1rem;
}

@media(max-width: 850px){
    .consent{
        width: 90%;
    }
    /* .consent-wrap{
        padding: 1.5rem;
    } */
}